{% extends 'base.html' %}
{% load static %}
{% block title %} detail view Page {% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <section class="featured-posts no-padding-top">
            <main class="posts-listing col-lg-12"> 
                <div class="container">
                    <div class="post-thumbnail text-center">
                        <img style="width: 300px; height: 450px;" src="{{ post.thumbnail.url }}" alt="..." class="img-fluid">
                    </div>
                    <section class="intro">
                        <div class="container justify-content-between">
                            <h2 class="h3">{{post.title}}</h2>
                            <p class="text-big">Created by: {{ user.username }} </p>
                            <p class="text-big">{{ post.pub_date|timesince }} ago </p>
                            <p class="text-big">{{post.content}} </p>
                            <a href="{% url 'blog' %}" class="btn btn-outline-primary">Back to Home</a>
                        </div>
                    </section>
                </div>
            </main>
        </section>
    </div>
</div>


{% endblock content %}